<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="post">
        <input type="text" name="search_engine" id="">
        <input type="radio" name="category" value="images" id="image">image
        <input type="radio" name="category" value="videos" id="">video
        <input type="radio" name="category" value="gifs" id="">Giphy
        <button type="submit">Search Results</button>
    </form>
    <%if (images.length > 0){%>
        <%images[0].forEach(image=>{%>
            <img src="<%= image.image_url %>" alt="" srcset="">
            <p><%= image.url %></p>
        <%})%>
        <hr>
        <hr>
        <%images[1].forEach(image=>{%>
            <img src="<%= image.image_url %>" alt="" srcset="">
            <p><%= image.url %></p>
        <%})%>

    <%}%>
    <%if (videos.length > 0  ){%>
        <%videos[0].forEach(video=>{%>
            <video width="320" height="240" controls>
                <source src="<%= video.video_url%>" type="video/mp4">
               
              </video>
              
            <p><%=video.url%> </p>
         
        <%})%>
        <hr>
        <hr>
        <%videos[1].forEach(video=>{%>
            <video width="320" height="240" controls>
                <source src="<%= video.video_url%>" type="video/mp4">
               
              </video>
              
            <p><%=video.url%> </p>
        <%})%>
        

    <%}%>

    
</body>
</html>